<div class="widget">
  <%= simple_form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :title %>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.association :category, input_html: {class: "selectpicker"} %>
    <%= f.association :country, input_html: {class: "selectpicker", "data-live-search": "true"} %>
    <%= select_tag :region, options_from_collection_for_select(Country.last.regions, "id", "name", "1"), class: "form-control", "data-live-search": "true" %>
    <%= select_tag :city, options_from_collection_for_select([], "id", "name", "1"), class: "form-control", "data-live-search": "true" %>

    <div class="form-group">
      <label for="">Skills</label>
      <%= select_tag "job[skill_needs][]", option_groups_from_collection_for_select(@processes, :skills, :name, :id, :name,{:selected=> f.object.skill_needs}), multiple: true, class: "multiple-select" %>
    </div>
    <%= f.input :description, input_html:{rows: "20"}, as: :wysihtml5, wysihtml5: {toolbar:{ "fa": true }} %>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  jobs_path, :class => 'btn btn-default' %>
  <% end %>
</div>
<script type="text/javascript">
  $(".textarea-editor").wysihtml5();
</script>
