var selectbox = $("#job_skill_needs_");
selectbox.find("optgroup").remove();
selectbox.append("<%= escape_javascript(option_groups_from_collection_for_select(@processes, :skills, :name, :id, :name,{selected: []})) %>");
selectbox.multipleSelect("refresh");
selectbox.multipleSelect("uncheckAll");
