<%- model_class = Job -%>
<div class="main-content white-background">
  <div class="container">
    <div class="col-lg-inside col-inside-default">
      <h2 class="page-title"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h2>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
