var selectbox = $("#region");
selectbox.find("option").remove();
console.log(selectbox);
selectbox.append("<%= escape_javascript(options_from_collection_for_select(@regions, 'id', 'name', '1')) %>");
// console.log("<%= escape_javascript(options_from_collection_for_select(@regions, 'id', 'name', '1')) %>");
// selectbox.multipleSelect("refresh");
// selectbox.multipleSelect("uncheckAll");