<%= form_for @video, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "label-control" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :video, class: "label-control" %>
    <%= f.file_field :video, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
