<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <%= render partial: "shared/profile_card" %>
    <%= render partial: "shared/show_nav_bar" %>
    <%= render partial: "shared/postmodule_container" %>
  </div>
</div>
