<% if object.images.count > 1 %>
  <div class="img-list">
    <ul class="img-thumbnails">
      <% object.images.each_with_index do |image, index| %>
        <% if index != 3 %>
          <li class="<%= img_class = index > 3 ? 'hidden' : '' %>">
            <a class="fancybox" rel="<%= object.id %>" href="<%= image.image.url %>" title="<%= object.content[0..200] %>">
              <div class="img">
                <%= image_tag image.image.url(:thumb), class: "img-responsive" %>
              </div>
            </a>
          </li>
        <% else %>
        <li>
          <a class="fancybox img-with-plus" rel="<%= object.id %>" href="<%= image.image.url %>" title="<%= object.content[0..200] %>">
            <div class="img">
              <% over_img = object.images.count - 4 %>
              <% if over_img > 0 %>
                <div class="overlay">
                  <span><%= over_img %>+</span>
                </div>
              <% end %>
              <%= image_tag image.image.url(:thumb), class: "img-responsive" %>
            </div>
          </a>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <% image = object.images.first %>
  <div class="single-image">
    <a class="fancybox" rel="<%= object.id %>" href="<%= image.image.url %>" title="<%= object.content[0..200] %>">
      <%= image_tag image.image.url(:original), class: "img-responsive" %>
    </a>   
  </div>
<% end %>
