<div class="post-module">
  <%= form_for post, url: posts_path, method: :post, html: { multipart: true, id: "fileupload" } do |f| %>
      <textarea name="post[content]" class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?"></textarea>
    <br>
    <section class="content-item" id="js-file-container">
      <div class="files">
      </div>
    </section>
    <div class="clearfix"></div>
    <footer class="panel-footer">
      <!-- <button type="button" type="submit" class="btn btn-info pull-right">Post</button> -->
      <%= f.submit class: "btn btn-info pull-right" %>
      <ul class="nav nav-pills">
        <li>
          <button type="button" class="btn btn-primary fileinput-button" name="button">
            <i class="fa fa-camera"></i>
            <%= f.file_field :images, multiple: true %>
          </button>
        </li>
        <li>
          <button href="" class="btn btn-link">
            <i class=" fa fa-film"></i>
          </button>
        </li>
        <li>
          <button class="btn btn-link">
            <i class="fa fa-smile-o"></i>
          </button>
        </li>
      </ul>
    </footer>
  <% end %>
</div>

<%= render "images/template_upload" %>
<%= render "images/template_download" %>



<script>
  $(document).ready(function () {
    // var course_id = $('#js-data').data('course');
    // var controller_name = $('body').data('controller');
    // var model_instance_path = '/' + controller_name + '/' + course_id;
    // var resume_path = model_instance_path + '/resume_upload';
    // var update_status_path = model_instance_path + '/update_status';

    var upload_image_path = "/posts/upload_images"
    // var upload_image_path = "/images"
    $('#fileupload').fileupload({
      // maxNumberOfFiles: 1,
      maxChunkSize: 10000000, // 10 MB
      sequentialUploads: true,
      previewMaxWidth: 100,
      previewMaxHeight: 100,
      autoUpload: true,
      type: 'POST',
      url: upload_image_path
    });
  });

  function RemoveImgPreview(btn){
    $(btn).parent(".imageuploadify-container").addClass('hidden');
  }
  </script>

