<div class="container no-padding">
  <div class="col-md-12 no-padding">
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="user-block">
          <img class="img-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User Image">
          <span class="username">
            <a href="#">Jonathan Burke Jr.</a>
          </span>
          <span class="description">Shared publicly - <%= post.created_at %></span>
        </div>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
            <i class="fa fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <p><%= post.content %></p>
        <% if post.url_extract.present? %>
          <%= render partial: "shared/url_preview", locals: {data: post.url_extract} %>
        <% elsif post.images.present? %>
          <%= render partial: "shared/image_thumbs", locals: {object: post} %>
        <% end %>
        <button type="button" class="btn btn-default btn-xs">
          <i class="fa fa-share"></i>
          Share</button>
        <button type="button" class="btn btn-default btn-xs">
          <i class="fa fa-thumbs-o-up"></i>
          Like</button>
        <span class="pull-right text-muted">45 likes - 2 comments</span>
      </div>
      <div class="box-footer box-comments">
        <div class="box-comment">
          <img class="img-circle img-sm" src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User Image">
          <div class="comment-text">
            <span class="username">
              Maria Gonzales
              <span class="text-muted pull-right">8:03 PM Today</span>
            </span>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          </div>
        </div>
        <div class="box-comment">
          <img class="img-circle img-sm" src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="User Image">
          <div class="comment-text">
            <span class="username">
              Nora Havisham
              <span class="text-muted pull-right">8:03 PM Today</span>
            </span>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          </div>
        </div>
      </div>
      <div class="box-footer">
        <form action="#" method="post">
          <img class="img-responsive img-circle img-sm" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Alt Text">
          <div class="img-push">
            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
