<div class="panel user-profile">
  <div class="cover-photo">
    <div class="fb-timeline-img">
      <img src="http://lorempixel.com/930/287/nature/8/" alt="">
    </div>
    <div class="fb-name">
      <h2>
        <a href="#">Deyson Bejarano</a>
      </h2>
    </div>
  </div>
  <div class="panel-body">
    <div class="profile-thumb">
      <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
    </div>
    <a href="#" class="fb-user-mail">dbjarano@bootdey.com</a>
  </div>
</div>
