<div id="header_test">
  <div class="app-nav ember-view nav nav-tabs sub-nav">
    <div class="limit-width">
      <div class="sub-nav-item">
        <a href="#" class="active">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Timeline</span> </a>
      </div>
      <div class="sub-nav-item">
        <a href="#" class="ember-view">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Gallery</span>
        </a>
      </div>
      <div class="sub-nav-item">
        <a href="#" class="ember-view">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Skills</span>
        </a>
      </div>
      <div class="sub-nav-item">
        <a href="#" class="ember-view">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Jobs</span>
        </a>
      </div>
      <div class="sub-nav-item">
        <a href="#" class="ember-view">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Tasks</span>
        </a>
      </div>
      <div class="sub-nav-item">
        <a href="#" class="ember-view">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Industrial Breakdown</span>
        </a>
      </div>
      <div class="sub-nav-item">
        <a href="#" class="ember-view">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          <span class="sub-nav-item-name">Certificate</span>
        </a>
      </div>
    </div>
  </div>
</div>
