<div class="attachment-block clearfix">
  <img class="attachment-img" src="<%= data["images"][0]["src"] if data["images"][0] %>" alt="Attachment Image">
  <div class="attachment-pushed">
    <h4 class="attachment-heading">
      <!-- <a href="">Lorem ipsum text generator</a> -->
      <%= link_to  data["title"], data["url"] %>
    </h4>
    <div class="attachment-text">
      <%= data["description"] %>
    </div>
  </div>
</div>
