#header_test {
    color: #96A3B6;

    .sub-nav {
        position: relative;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        text-align: left;
        // padding: 17px 0px 0px 20px;
        padding-top: 17px;
        padding-left: 15px;
        margin: 0 0 20px;
        height: 50px;
        background: #fff;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0;

        a {
            height: 47px;
            padding: 11px 10px;
        }
    }

    .limit-width {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .sub-nav-item:first-child {
        margin-left: 0;
    }

    .sub-nav-item:last-child {
        margin-right: 0;
    }

    .sub-nav-item {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
        transform: translateX(-10px);

        a {
            padding: 15px;
            @media(max-width:768px) {
              padding: 3px;
            }
        }
    }

    .icon {
        // background: url('https://d1ic07fwm32hlr.cloudfront.net/assets/sprite-b3d57ba733e4f0afd47794eba84ce349.png') no-repeat;
        background-size: 748px 727px;
        width: 21px;
        height: 24px;
    }

    .glyphicon {
        display: none;
        color: #96A3B6;
        @media(max-width:768px) {
            display: inline-block;
            width: 35px;
            padding-left: 8px;
            font-size: 25px;
        }
    }

    .sub-nav-item-name {
        color: #96A3B6;
        @media(max-width:768px) {
            display: none;
        }
    }

    .sub-nav-item {
        .ember-view:hover {
            border-bottom: 1px solid #ccc;
        }
    }

    .active {
        border-bottom: 1px solid #79589F;

        .sub-nav-item-name {
            color: #79589F;
        }

        .glyphicon {
            color: #79589F;
        }
    }
}
