<p id="notice"><%= notice %></p>
<p>Data: <%= @qrcode.data %></p>
<div class="thumnail">
	<%= image_tag @qrcode.qrcode.url, class: "img-responsive" %>
	<!-- <img src="" alt="" class="img-responsive"> -->
</div>
<%= link_to 'Edit', edit_qrcode_path(@qrcode) %> |
<%= link_to 'Back', qrcodes_path %>
