<!-- <h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->

<div class="login-container animated fadeInDown bootstrap snippets">
        <div class="loginbox bg-white">
            <div class="loginbox-title">SIGN IN</div>
            <div class="loginbox-social">
                <div class="social-title ">Connect with Your Social Accounts</div>
                <div class="social-buttons">
                  <div class="row">
                    <div class="container-fluid">
                      <div class="sicon">

                      <div class="col-md-3 col-xs-3 text-center">
                        <div class="icon-circle">
                          <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </div>
                      </div>

                      <div class="col-md-3 col-xs-3 text-center">
                        <div class="icon-circle">
                          <a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                      </div>

                      <div class="col-md-3 col-xs-3 text-center">
                        <div class="icon-circle">
                          <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                      </div>

                      <div class="col-md-3 col-xs-3 text-center">
                        <div class="icon-circle">
                          <a href="#" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                      </div>

                    </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">OR</div>
            </div>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="loginbox-textbox">
                  <!-- <input type="text" class="form-control" placeholder="Email"> -->
                  <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
              </div>
              <div class="loginbox-textbox">
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              </div>
              <div class="loginbox-forgot">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="loginbox-submit">
                <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
              </div>
              <div class="loginbox-signup">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
        </div>
        <!-- <div class="logobox">
        </div> -->
    </div>
