<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }
</style>
<%= simple_form_for(@locator, html: { class: 'form-verical' }) do |f| %>
<% if @locator.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@locator.errors.count, "error") %>
    prohibited this locator from being saved:</h2>

  <ul>
    <% @locator.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.input :name %>
<%= f.input :lat %>
<%= f.input :lng %>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map" style="height: 400px;"></div>
<br/>
<div class="form-group">
  <%= f.button :submit %>
</div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAmZx6BM8z4uZZvDkLZ6uVjOGjKBVsBZA&libraries=places&callback=initAutocomplete" async defer></script>
