<p id="notice"><%= notice %></p>
<button onclick="PrintHAF.print()">Print</button>
<h1>Listing Locators</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locators.each do |locator| %>
      <tr>
      <td><%= locator.id %></td>
      <td><%= locator.name %></td>
      <td><%= locator.lat %></td>
      <td><%= locator.lng %></td>
        <td><%= link_to 'Show', locator %></td>
        <td><%= link_to 'Edit', edit_locator_path(locator) %></td>
        <td><%= link_to 'Destroy', locator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locator', new_locator_path %>
<div id="footer_wrapper">
  <div id="footer_content">
    Total 4923
  </div>
</div>