<p id="notice"><%= notice %></p>

<dt>Name</dt>
<dd><%= @locator.name %></dd>
<dt>Map :</dt>
<div>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @locator.lat %>,<%= @locator.lng %>&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C<%= @locator.lat %>,<%= @locator.lng %>&key=AIzaSyAjO4PJzWtNNhq8XeijEgWJ02M-Ep0FdJs" alt="" />
</div>
<%= link_to 'Edit', edit_locator_path(@locator) %> |
<%= link_to 'Back', locators_path %>
