<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :likes_count %>
    <%= f.input :comments_count %>
    <input type="text" name="post[image_ids][]" value="108">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
