<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<div class="container no-padding">
	<%= render partial: "shared/postmodule_container", locals: {post: @post} %>	
</div>
<% @posts.each do |post| %>
  <%= render partial: "shared/post_card", locals: {post: post} %>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".btn-delete.delete").click(function(event) {
			/* Act on the event */
			$(".imageuploadify-details.preview").remove();
			console.log('test');
		});
	});
</script>