<p id="notice"><%= notice %></p>
<%= form_tag('/posts', method: :get, enforce_utf8: false) do%>
 <%= text_field_tag :content  %>
 <%=submit_tag "Search", :name => nil %>
<% end %>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Url extract:</strong>
  <%= @post.url_extract %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @post.likes_count %>
</p>

<p>
  <strong>Comments count:</strong>
  <%= @post.comments_count %>
</p>

<div class="row">
	<ul class="img-thumbnails">
	  
	<% @post.images.each_with_index do |image, index| %>
		<% if index != 3 %>
			<li class="<%= img_class = index > 3 ? 'hidden' : '' %>">
				<a class="fancybox" rel="<%= @post.id %>" href="<%= image.image.url %>" title="<%= @post.content[0..200] %>">
					<div class="img">
						<%= image_tag image.image.url(:thumb), class: "img-responsive" %>
					</div>
				</a>
			</li>
		<% else %>
		<li>
			<a class="fancybox img-with-plus" rel="<%= @post.id %>" href="<%= image.image.url %>" title="<%= @post.content[0..200] %>">
				<div class="img">
					<div class="overlay">
						<span>3+</span>
					</div>
					<%= image_tag image.image.url(:thumb), class: "img-responsive" %>
				</div>
			</a>
		</li>
		<% end %>
	<% end %>
	</ul>
</div>
<div style="width: 200px; height: 200px; background-color: #cccccc; text-align: center;vertical-align: middle; display: inline-block;">
<span style="vertical-align: middle; line-height: 200px; font-size: 50px;">2+</span>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<script type="text/javascript">
	
</script>