<%- model_class = Parcel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:size) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:total_fee) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= link_to parcel.id, parcel_path(parcel) %></td>
        <td><%= parcel.name %></td>
        <td><%= parcel.size %></td>
        <td><%= parcel.weight %></td>
        <td><%= parcel.total_fee %></td>
        <td><%= parcel.status %></td>
        <td><%=l parcel.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      parcel_path(parcel), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_parcel_path(parcel), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      parcel_path(parcel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_parcel_path,
            :class => 'btn btn-primary' %>
