/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= reqire bootstrap_and_overrides
 *= reqire blog-home
 *= reqire video
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require video-js
 *= require images/new.scss
 *= require font-awesome
 *= require bootstrap-wysihtml5
 *= require fancybox
 *= require magnific-popup
 *= require_tree .
 */


 .navbar-static-top {
   background-color:teal;
   background-image: none;
   background-repeat: no-repeat;
  }

@media print
{
  .noPrint{display:none;}
}
@media screen {
  div.divFooter {
    display: none;
  }
}
@media print {
  div.divFooter {
    position: fixed;
    bottom: 0;
  }
}

@media screen {
    div#footer_wrapper {
      display: none;
    }
  }

  @media print {
    tfoot { visibility: hidden; }

    div#footer_wrapper {
      margin: 0px 2px 0px 7px;
      position: fixed;
      bottom: 0;
    }

    div#footer_content {
      font-weight: bold;
    }
  }