.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    -webkit-border-radius: 0 !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 0 !important;
    -moz-background-clip: padding !important;
    border-radius: 0 !important;
    background-clip: padding-box !important;
    color: #858585;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    font-family: inherit;
    -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
    -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
    -o-transition: box-shadow .45s, border-color .45s ease-in-out;
    transition: box-shadow .45s, border-color .45s ease-in-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover {
    border-color: rgba(0, 0, 0, .2)
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    color: #262626;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .25);
    outline: 0
}

.form-control,
select {
    font-size: 13px;
    color: #858585;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    padding: 6px 12px
}

.form-control:focus,
select:focus {
    color: #262626;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .25)
}

textarea.form-control {
    padding: 5px 9px;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s
}

.input-xs {
    height: 24px;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 1.5
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.input-lg {
    font-weight: 300;
    font-size: 18px;
    height: 46px;
    padding: 10px 16px;
    line-height: 1.33
}

.input-xl {
    height: 52px;
    padding: 12px 18px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #fbfbfb;
    border-color: #e5e5e5
}

.form-control[disabled]:hover,
.form-control[readonly]:hover,
fieldset[disabled] .form-control:hover {
    border-color: #eee;
    background-color: #fff
}

.form-group.has-success input,
.input-group.has-success input,
.form-group.has-success select,
.input-group.has-success select,
.form-group.has-success textarea,
.input-group.has-success textarea {
    border-color: #b0dd9c;
    color: #a0d468;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f3f7f1
}

.form-group.has-success input:focus,
.input-group.has-success input:focus,
.form-group.has-success select:focus,
.input-group.has-success select:focus,
.form-group.has-success textarea:focus,
.input-group.has-success textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #8cc474;
    border-color: #8cc474
}

.form-group.has-success .form-control-feedback:before,
.input-group.has-success .form-control-feedback:before {
    color: #8cc474 !important;
    color: inherit
}

.form-group.has-success .control-label,
.input-group.has-success .control-label,
.form-group.has-success .help-block,
.input-group.has-success .help-block,
.form-group.has-success .help-inline,
.input-group.has-success .help-inline {
    color: #8cc474
}

.form-group.has-error input,
.input-group.has-error input,
.form-group.has-error .select,
.input-group.has-error .select,
.form-group.has-error textarea,
.input-group.has-error textarea {
    border-color: #e7bebe;
    color: #e46f61;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fffafa
}

.form-group.has-error input:focus,
.input-group.has-error input:focus,
.form-group.has-error .select:focus,
.input-group.has-error .select:focus,
.form-group.has-error textarea:focus,
.input-group.has-error textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #d73d32;
    border-color: #e46f61
}

.form-group.has-error .form-control-feedback:before,
.input-group.has-error .form-control-feedback:before {
    color: #e46f61 !important;
    color: inherit
}

.form-group.has-error .control-label,
.input-group.has-error .control-label,
.form-group.has-error .help-block,
.input-group.has-error .help-block,
.form-group.has-error .help-inline,
.input-group.has-error .help-inline {
    color: #e46f61
}

.form-group.has-warning input,
.input-group.has-warning input,
.form-group.has-warning .select,
.input-group.has-warning .select,
.form-group.has-warning textarea,
.input-group.has-warning textarea {
    border-color: #fecf49;
    color: #f4b400;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fefbf1
}

.form-group.has-warning input:focus,
.input-group.has-warning input:focus,
.form-group.has-warning .select:focus,
.input-group.has-warning .select:focus,
.form-group.has-warning textarea:focus,
.input-group.has-warning textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f4b400;
    border-color: #f4b400
}

.form-group.has-warning .form-control-feedback:before,
.input-group.has-warning .form-control-feedback:before {
    color: #f4b400 !important;
    color: inherit
}

.form-group.has-warning .control-label,
.input-group.has-warning .control-label,
.form-group.has-warning .help-block,
.input-group.has-warning .help-block,
.form-group.has-warning .help-inline,
.input-group.has-warning .help-inline {
    color: #f4b400
}

.form-group.has-info input,
.input-group.has-info input,
.form-group.has-info .select,
.input-group.has-info .select,
.form-group.has-info textarea,
.input-group.has-info textarea {
    border-color: #a4d3fe;
    color: #57b5e3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f9fcff
}

.form-group.has-info input:focus,
.input-group.has-info input:focus,
.form-group.has-info .select:focus,
.input-group.has-info .select:focus,
.form-group.has-info textarea:focus,
.input-group.has-info textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #57b5e3;
    border-color: #57b5e3
}

.form-group.has-info .form-control-feedback:before,
.input-group.has-info .form-control-feedback:before {
    color: #57b5e3 !important;
    color: inherit
}

.form-group.has-info .control-label,
.input-group.has-info .control-label,
.form-group.has-info .help-block,
.input-group.has-info .help-block,
.form-group.has-info .help-inline,
.input-group.has-info .help-inline {
    color: #57b5e3
}

span.input-icon {
    display: inline-block
}

.input-icon {
    position: relative;
    width: 100%
}

.input-icon.inverted>[class*="fa-"],
.input-icon.inverted>[class*="glyphicon-"] {
    color: #fff;
    background-color: #262626
}

.input-icon>input {
    padding-left: 36px;
    padding-right: 6px
}

.input-icon>input:focus+[class*="fa-"],
.input-icon>input:focus+[class*="glyphicon-"] {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.input-icon>input:focus+.circular {
    -webkit-box-shadow: 0 0 0 .1em rgba(0, 0, 0, .15) inset;
    -moz-box-shadow: 0 0 0 .1em rgba(0, 0, 0, .15) inset;
    box-shadow: 0 0 0 .1em rgba(0, 0, 0, .15) inset
}

.input-icon>input.input-xs {
    padding-left: 26px
}

.input-icon>input.input-xs+[class*="fa-"],
.input-icon>input.input-xs+[class*="glyphicon-"] {
    width: 24px;
    font-size: 10px;
    padding-top: 0;
    line-height: 24px
}

.input-icon>input.input-xs+.circular {
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px
}

.input-icon>input.input-sm {
    padding-left: 32px
}

.input-icon>input.input-sm+[class*="fa-"],
.input-icon>input.input-sm+[class*="glyphicon-"] {
    width: 30px;
    font-size: 12px;
    padding-top: 0;
    line-height: 30px
}

.input-icon>input.input-sm+.circular {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px
}

.input-icon>input.input-lg {
    padding-left: 48px
}

.input-icon>input.input-lg+[class*="fa-"],
.input-icon>input.input-lg+[class*="glyphicon-"] {
    width: 46px;
    font-size: 18px;
    padding-top: 5px;
    line-height: 34px
}

.input-icon>input.input-lg+.circular {
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 26px
}

.input-icon>input.input-xl {
    padding-left: 54px
}

.input-icon>input.input-xl+[class*="fa-"],
.input-icon>input.input-xl+[class*="glyphicon-"] {
    width: 52px;
    font-size: 20px;
    padding-top: 8px;
    line-height: 34px
}

.input-icon>input.input-xl+.circular {
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 26px
}

.input-icon>[class*="fa-"],
.input-icon>[class*="glyphicon-"] {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 34px;
    height: 100%;
    line-height: 28px;
    display: inline-block;
    color: #555;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    zoom: 1;
    filter: alpha(opacity=70);
    -webkit-opacity: .7;
    -moz-opacity: .7;
    opacity: .7
}

.input-icon>[class*="fa-"].circular,
.input-icon>[class*="glyphicon-"].circular {
    border-radius: 500em !important;
    box-shadow: 0 0 0 .1em rgba(0, 0, 0, .1) inset;
    -webkit-transition: -webkit-box-shadow .3s ease;
    -moz-transition: -moz-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    padding: 0;
    top: 5px;
    bottom: 5px;
    left: 7px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px
}

.input-icon.icon-right>input {
    padding-left: 6px;
    padding-right: 36px
}

.input-icon.icon-right>input.input-xs {
    padding-right: 26px
}

.input-icon.icon-right>input.input-sm {
    padding-right: 32px
}

.input-icon.icon-right>input.input-lg {
    padding-right: 48px
}

.input-icon.icon-right>input.input-xl {
    padding-right: 54px
}

.input-icon.icon-right>[class*="fa-"],
.input-icon.icon-right>[class*="glyphicon-"] {
    left: auto;
    right: 0
}

.input-icon.icon-right .circular {
    left: auto;
    right: 5px
}

.input-icon~.help-inline {
    padding-left: 8px
}

.input-group .input-group-addon {
    border-radius: 0 !important;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #eee 0, #fbfbfb 100%);
    background-image: -moz-linear-gradient(top, #eee 0, #fbfbfb 100%);
    background-image: -o-linear-gradient(top, #eee 0, #fbfbfb 100%);
    background-image: linear-gradient(to bottom, #eee 0, #fbfbfb 100%)
}

.input-group .input-group-addon[class*="bg-"] {
    background-image: none;
    color: #fff
}

.input-group-xl>.form-control,
.input-group-xl>.input-group-addon,
.input-group-xl>.input-group-btn>.btn {
    height: 52px;
    padding: 10px 18px;
    font-size: 20px;
    line-height: 1.4
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 24px;
    padding: 2px 6px 2px 7px;
    font-size: 11px;
    line-height: 1.4
}

.has-success .input-group-addon {
    border-color: #b0dd9c !important;
    color: #8cc474;
    background-image: none
}

.has-error .input-group-addon {
    border-color: #e7bebe;
    color: #e46f61;
    background-image: none
}

.has-warning .input-group-addon {
    border-color: #fecf49;
    color: #f4b400;
    background-image: none
}

.has-info .input-group-addon {
    border-color: #a4d3fe;
    color: #57b5e3;
    background-color: #e4f0fc;
    background-image: none
}

.input-group-btn .btn-label {
    padding: 6px 10px !important
}

.input-group-btn>.btn {
    line-height: 20px;
    border-radius: 0 !important
}

.input-group-btn>.btn.dropdown-toggle>[class*="fa-"] {
    margin-right: 0;
    font-size: 14px
}

.input-group>.btn.btn-sm {
    line-height: 22px
}

.input-group>.btn+.btn {
    margin-left: 1px
}

.input-group>.btn-group>.btn {
    line-height: 23px
}

.input-group>.btn-group>.btn.btn-sm {
    line-height: 26px
}

.input-group>.btn>.caret,
.input-group>.btn-group>.btn>.caret,
.input-group>.btn.btn-sm>.caret,
.input-group>.btn-group>.btn.btn-sm>.caret {
    margin-top: 10px
}

.btn-file {
    position: relative;
    overflow: hidden
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block
}

input[type=checkbox],
input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -9999px;
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer
}

input[type=checkbox].inverted:checked~.text:before,
input[type=radio].inverted:checked~.text:before {
    background-color: #333;
    border-color: #333;
    color: #fff
}

input[type=checkbox].colored-white~.text,
input[type=radio].colored-white~.text {
    color: #fff
}

input[type=checkbox].colored-white~.text:before,
input[type=radio].colored-white~.text:before {
    border-color: #fafafa
}

input[type=checkbox].colored-white:checked~.text,
input[type=radio].colored-white:checked~.text {
    color: #fff
}

input[type=checkbox].colored-white:checked~.text:before,
input[type=radio].colored-white:checked~.text:before {
    border-color: #333;
    color: #333
}

input[type=checkbox].colored-blue:checked~.text,
input[type=radio].colored-blue:checked~.text {
    color: #5db2ff
}

input[type=checkbox].colored-blue:checked~.text:before,
input[type=radio].colored-blue:checked~.text:before {
    border-color: #5db2ff;
    color: #5db2ff
}

input[type=checkbox].colored-primary:checked~.text,
input[type=radio].colored-primary:checked~.text {
    color: #4374e0
}

input[type=checkbox].colored-primary:checked~.text:before,
input[type=radio].colored-primary:checked~.text:before {
    border-color: #4374e0;
    color: #4374e0
}

input[type=checkbox].colored-danger:checked~.text,
input[type=radio].colored-danger:checked~.text {
    color: #d73d32
}

input[type=checkbox].colored-danger:checked~.text:before,
input[type=radio].colored-danger:checked~.text:before {
    border-color: #d73d32;
    color: #d73d32
}

input[type=checkbox].colored-success:checked~.text,
input[type=radio].colored-success:checked~.text {
    color: #53a93f
}

input[type=checkbox].colored-success:checked~.text:before,
input[type=radio].colored-success:checked~.text:before {
    border-color: #53a93f;
    color: #53a93f
}

input[type=checkbox].colored-warning:checked~.text,
input[type=radio].colored-warning:checked~.text {
    color: #f4b400
}

input[type=checkbox].colored-warning:checked~.text:before,
input[type=radio].colored-warning:checked~.text:before {
    border-color: #f4b400;
    color: #f4b400
}

input[type=checkbox].colored-silver:checked~.text,
input[type=radio].colored-silver:checked~.text {
    color: #777
}

input[type=checkbox].colored-silver:checked~.text:before,
input[type=radio].colored-silver:checked~.text:before {
    border-color: #777;
    color: #777
}

input[type=checkbox].colored-blueberry:checked~.text,
input[type=radio].colored-blueberry:checked~.text {
    color: #6f85bf
}

input[type=checkbox].colored-blueberry:checked~.text:before,
input[type=radio].colored-blueberry:checked~.text:before {
    border-color: #6f85bf;
    color: #6f85bf
}

input[type=checkbox].colored-palegreen:checked~.text,
input[type=radio].colored-palegreen:checked~.text {
    color: #a0d468
}

input[type=checkbox].colored-palegreen:checked~.text:before,
input[type=radio].colored-palegreen:checked~.text:before {
    border-color: #a0d468;
    color: #a0d468
}

input[type=checkbox].colored-orange:checked~.text,
input[type=radio].colored-orange:checked~.text {
    color: #fb6e52
}

input[type=checkbox].colored-orange:checked~.text:before,
input[type=radio].colored-orange:checked~.text:before {
    border-color: #fb6e52;
    color: #fb6e52
}

input[type=checkbox].colored-darkorange:checked~.text,
input[type=radio].colored-darkorange:checked~.text {
    color: #ed4e2a
}

input[type=checkbox].colored-darkorange:checked~.text:before,
input[type=radio].colored-darkorange:checked~.text:before {
    border-color: #ed4e2a;
    color: #ed4e2a
}

input[type=checkbox].colored-magenta:checked~.text,
input[type=radio].colored-magenta:checked~.text {
    color: #bc5679
}

input[type=checkbox].colored-magenta:checked~.text:before,
input[type=radio].colored-magenta:checked~.text:before {
    border-color: #bc5679;
    color: #bc5679
}

input[type=checkbox].colored-purple:checked~.text,
input[type=radio].colored-purple:checked~.text {
    color: #7e3794
}

input[type=checkbox].colored-purple:checked~.text:before,
input[type=radio].colored-purple:checked~.text:before {
    border-color: #7e3794;
    color: #7e3794
}

input[type=checkbox].colored-maroon:checked~.text,
input[type=radio].colored-maroon:checked~.text {
    color: #981b48
}

input[type=checkbox].colored-maroon:checked~.text:before,
input[type=radio].colored-maroon:checked~.text:before {
    border-color: #981b48;
    color: #981b48
}

input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none !important
}

input[type=checkbox]:checked~.text:before,
input[type=radio]:checked~.text:before {
    display: inline-block;
    content: '';
    background-color: #f5f8fc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    border-color: #333
}

input[type=checkbox]:hover~.text:before,
input[type=radio]:hover~.text:before {
    border-color: #737373
}

input[type=checkbox]:active~.text:before,
input[type=radio]:active~.text:before {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1)
}

input[type=checkbox]:disabled~.text,
input[type=radio]:disabled~.text,
input[type=checkbox][disabled]~.text,
input[type=radio][disabled]~.text,
input[type=checkbox].disabled~.text,
input[type=radio].disabled~.text {
    color: rgba(0, 0, 0, .4)
}

input[type=checkbox]:disabled~.text:before,
input[type=radio]:disabled~.text:before,
input[type=checkbox][disabled]~.text:before,
input[type=radio][disabled]~.text:before,
input[type=checkbox].disabled~.text:before,
input[type=radio].disabled~.text:before {
    background-color: #f5f5f5 !important;
    border-color: #e5e5e5 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #e5e5e5
}

input[type=checkbox]~.text,
input[type=radio]~.text {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: normal
}

input[type=checkbox]~.text:before,
input[type=radio]~.text:before {
    font-family: fontAwesome;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    content: " ";
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    min-width: 18px;
    margin-right: 5px;
    margin-bottom: 2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

input[type=checkbox]~.text:hover:before,
input[type=radio]~.text:hover:before {
    border-color: #737373
}

input[type=checkbox]~.text:active:before,
input[type=radio]~.text:active:before {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1)
}

input[type=radio]~.text:before {
    border-radius: 100%;
    font-size: 10px;
    font-family: FontAwesome;
    line-height: 17px;
    height: 19px;
    min-width: 19px
}

input[type=radio]:checked~.text:before {
    content: ""
}

.radio label,
.checkbox label {
    padding-left: 0
}

input[type=checkbox].checkbox-slider {
    width: 55px;
    height: 25px;
    left: 0
}

input[type=checkbox].checkbox-slider.slider-icon:checked~.text:after {
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 21px;
    content: "";
    border-width: 1px;
    padding-left: 3px;
    background-color: #fff;
    color: #444
}

input[type=checkbox].checkbox-slider.slider-icon~.text:after {
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 20px;
    content: "";
    border-width: 1px;
    padding-left: 4px;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.toggle:checked~.text:after {
    background-color: #fff;
    color: #444
}

input[type=checkbox].checkbox-slider.toggle~.text:after {
    border: 0;
    background-color: #444;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

input[type=checkbox].checkbox-slider.yesno~.text:before {
    font-family: 'Open Sans', 'Segoe UI';
    content: "YES            NO"
}

input[type=checkbox].checkbox-slider~.text {
    margin: 0 4px;
    min-height: 24px
}

input[type=checkbox].checkbox-slider~.text:before {
    font-family: 'Open Sans', 'Segoe UI';
    content: "ON           OFF";
    background-color: #fff;
    color: #999;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    height: 20px;
    overflow: hidden;
    border-radius: 50rem;
    border: 1px solid #ccc;
    text-align: left;
    float: left;
    padding: 0;
    width: 52px;
    text-indent: -21px;
    margin-right: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

input[type=checkbox].checkbox-slider~.text:after {
    font-family: 'Open Sans', 'Segoe UI';
    content: '';
    font-size: 10px;
    font-weight: 300;
    background-color: #fff;
    border: 5px solid #444;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: -3px;
    padding: 0;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

input[type=checkbox].checkbox-slider:checked~.text:before {
    text-indent: 5px;
    background-color: #444;
    border-color: #444;
    color: #fff
}

input[type=checkbox].checkbox-slider:checked~.text:after {
    left: 34px;
    background-color: #444;
    border: 5px solid #fff
}

input[type=checkbox].checkbox-slider.colored-blue~.text:after {
    border-color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue:checked~.text:before {
    background-color: #5db2ff;
    border-color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue:checked~.text:after {
    background-color: #5db2ff;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blue.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue.slider-icon~.text:after {
    border-color: #fff;
    color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue.toggle:checked~.text:after {
    color: #5db2ff;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blue.toggle~.text:after {
    background-color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-primary~.text:after {
    border-color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary:checked~.text:before {
    background-color: #4374e0;
    border-color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary:checked~.text:after {
    background-color: #4374e0;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-primary.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary.slider-icon~.text:after {
    border-color: #fff;
    color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary.toggle:checked~.text:after {
    color: #4374e0;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-primary.toggle~.text:after {
    background-color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-danger~.text:after {
    border-color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger:checked~.text:before {
    background-color: #d73d32;
    border-color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger:checked~.text:after {
    background-color: #d73d32;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-danger.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger.slider-icon~.text:after {
    border-color: #fff;
    color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger.toggle:checked~.text:after {
    color: #d73d32;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-danger.toggle~.text:after {
    background-color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-success~.text:after {
    border-color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success:checked~.text:before {
    background-color: #53a93f;
    border-color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success:checked~.text:after {
    background-color: #53a93f;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-success.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success.slider-icon~.text:after {
    border-color: #fff;
    color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success.toggle:checked~.text:after {
    color: #53a93f;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-success.toggle~.text:after {
    background-color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-warning~.text:after {
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning:checked~.text:before {
    background-color: #f4b400;
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning:checked~.text:after {
    background-color: #f4b400;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-warning.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning.slider-icon~.text:after {
    border-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning.toggle:checked~.text:after {
    color: #f4b400;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-warning.toggle~.text:after {
    background-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver~.text:after {
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver:checked~.text:before {
    background-color: #f4b400;
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver:checked~.text:after {
    background-color: #f4b400;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-silver.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver.slider-icon~.text:after {
    border-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver.toggle:checked~.text:after {
    color: #f4b400;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-silver.toggle~.text:after {
    background-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-blueberry~.text:after {
    border-color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry:checked~.text:before {
    background-color: #6f85bf;
    border-color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry:checked~.text:after {
    background-color: #6f85bf;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blueberry.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry.slider-icon~.text:after {
    border-color: #fff;
    color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry.toggle:checked~.text:after {
    color: #6f85bf;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blueberry.toggle~.text:after {
    background-color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-palegreen~.text:after {
    border-color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen:checked~.text:before {
    background-color: #a0d468;
    border-color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen:checked~.text:after {
    background-color: #a0d468;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-palegreen.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen.slider-icon~.text:after {
    border-color: #fff;
    color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen.toggle:checked~.text:after {
    color: #a0d468;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-palegreen.toggle~.text:after {
    background-color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-orange~.text:after {
    border-color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange:checked~.text:before {
    background-color: #fb6e52;
    border-color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange:checked~.text:after {
    background-color: #fb6e52;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-orange.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange.slider-icon~.text:after {
    border-color: #fff;
    color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange.toggle:checked~.text:after {
    color: #fb6e52;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-orange.toggle~.text:after {
    background-color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-darkorange~.text:after {
    border-color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange:checked~.text:before {
    background-color: #ed4e2a;
    border-color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange:checked~.text:after {
    background-color: #ed4e2a;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-darkorange.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange.slider-icon~.text:after {
    border-color: #fff;
    color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange.toggle:checked~.text:after {
    color: #ed4e2a;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-darkorange.toggle~.text:after {
    background-color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-magenta~.text:after {
    border-color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta:checked~.text:before {
    background-color: #bc5679;
    border-color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta:checked~.text:after {
    background-color: #bc5679;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-magenta.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta.slider-icon~.text:after {
    border-color: #fff;
    color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta.toggle:checked~.text:after {
    color: #bc5679;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-magenta.toggle~.text:after {
    background-color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-purple~.text:after {
    border-color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple:checked~.text:before {
    background-color: #7e3794;
    border-color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple:checked~.text:after {
    background-color: #7e3794;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-purple.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple.slider-icon~.text:after {
    border-color: #fff;
    color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple.toggle:checked~.text:after {
    color: #7e3794;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-purple.toggle~.text:after {
    background-color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-maroon~.text:after {
    border-color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon:checked~.text:before {
    background-color: #981b48;
    border-color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon:checked~.text:after {
    background-color: #981b48;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-maroon.slider-icon:checked~.text:after {
    background-color: #fff;
    color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon.slider-icon~.text:after {
    border-color: #fff;
    color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon.toggle:checked~.text:after {
    color: #981b48;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-maroon.toggle~.text:after {
    background-color: #981b48
}


.btn {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 13px
}

.btn:hover,
.btn:focus {
    color: #fff
}

.btn.btn-link {
    border: none !important;
    background: transparent none !important;
    color: #08c !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
    padding: 4px 12px !important;
    line-height: 20px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important
}

.btn.btn-link:hover {
    background: none !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important
}

.btn.btn-link.active {
    background: none !important;
    text-decoration: underline;
    color: #009ceb !important
}

.btn.btn-link.active:after {
    display: none
}

.btn.btn-link.disabled,
.btn.btn-link[disabled] {
    background: 0;
    opacity: .65;
    filter: alpha(opacity=65)
}

.btn.btn-link.disabled:hover,
.btn.btn-link[disabled]:hover {
    background: none !important;
    text-decoration: none !important
}

.btn.shiny {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box
}

.btn.shiny:hover {
    zoom: 1;
    filter: alpha(opacity=90);
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9
}

.btn.shiny.active,
.btn.shiny:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.shiny.dropdown-toggle {
    border-left-width: 0 !important
}

.btn.btn-circle {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 11px 12px
}

.btn.btn-circle>.fa,
.btn.btn-circle .typcn,
.btn.btn-circle .glyphicon,
.btn.btn-circle>[class*="wi-"] {
    font-size: 20px;
    margin: 0 auto;
    line-height: 34px
}

.btn.btn-circle.btn-xs {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0
}

.btn.btn-circle.btn-xs>.fa,
.btn.btn-circle.btn-xs .typcn,
.btn.btn-circle.btn-xs .glyphicon,
.btn.btn-circle.btn-xs>[class*="wi-"] {
    font-size: 12px;
    line-height: 14px
}

.btn.btn-circle.btn-sm {
    width: 50px;
    height: 50px;
    padding: 10px 15px
}

.btn.btn-circle.btn-sm>.fa,
.btn.btn-circle.btn-sm .typcn,
.btn.btn-circle.btn-sm .glyphicon,
.btn.btn-circle.btn-sm>[class*="wi-"] {
    font-size: 18px;
    line-height: 26px;
    border-radius: 50%
}

.btn.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px
}

.btn.btn-circle.btn-lg>.fa,
.btn.btn-circle.btn-lg .typcn,
.btn.btn-circle.btn-lg .glyphicon,
.btn.btn-circle.btn-lg>[class*="wi-"] {
    font-size: 28px;
    line-height: 46px
}

.btn.btn-labeled {
    position: relative;
    padding-left: 0
}

.btn.btn-labeled.btn-block .btn-label {
    margin-right: 0
}

.btn.btn-labeled .btn-label {
    display: block;
    float: left;
    margin: -7px 12px -9px -2px;
    padding: 8px 10px 8px 11px;
    position: relative;
    background: rgba(0, 0, 0, .06);
    line-height: 15px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.btn.btn-labeled .btn-label>.fa,
.btn.btn-labeled .btn-label .typcn,
.btn.btn-labeled .btn-label .glyphicon,
.btn.btn-labeled .btn-label>[class*="wi-"] {
    margin-right: 0
}

.btn.icon-only {
    width: 36px;
    height: 34px;
    padding: 5px 3px
}

.btn.icon-only>.fa,
.btn.icon-only .typcn,
.btn.icon-only .glyphicon,
.btn.icon-only>[class*="wi-"] {
    margin: 0;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    font-size: 22px;
    line-height: 22px
}

.btn>.fa,
.btn .typcn,
.btn .glyphicon,
.btn>[class*="wi-"] {
    display: inline;
    margin-right: 4px;
    font-size: 14px
}

.btn>.fa.right,
.btn .typcn.right,
.btn .glyphicon.right,
.btn>[class*="wi-"].right {
    margin-right: 0;
    margin-left: 4px
}

.btn-xs {
    font-size: 11px;
    padding: 2px 7px
}

.btn-xs>.fa,
.btn-xs>.typcn,
.btn-xs>.glyphicon,
.btn-xs>[class*="wi-"] {
    font-size: 12px;
    margin-right: 2px
}

.btn-xs>.fa.right,
.btn-xs>.typcn.right,
.btn-xs>.glyphicon.right,
.btn-xs>[class*="wi-"].right {
    margin-right: 0;
    margin-left: 2px
}

.btn-xs.icon-only {
    width: 24px;
    height: 24px;
    padding: 2px 6px
}

.btn-xs.icon-only>.fa,
.btn-xs.icon-only>.typcn,
.btn-xs.icon-only>.glyphicon,
.btn-xs.icon-only>[class*="wi-"] {
    font-size: 12px;
    line-height: 7px
}

.btn-sm {
    font-size: 12px;
    padding: 4px 9px;
    line-height: 1.39
}

.btn-sm>.fa,
.btn-sm>.typcn,
.btn-sm>.glyphicon,
.btn-sm>[class*="wi-"] {
    font-size: 13px;
    margin-right: 3px
}

.btn-sm>.fa.right,
.btn-sm>.typcn.right,
.btn-sm>.glyphicon.right,
.btn-sm>[class*="wi-"].right {
    margin-right: 0;
    margin-left: 3px
}

.btn-sm.icon-only {
    width: 31px;
    height: 30px;
    padding: 3px !important
}

.btn-sm.icon-only>.fa,
.btn-sm.icon-only>.typcn,
.btn-sm.icon-only>.glyphicon,
.btn-sm.icon-only>[class*="wi-"] {
    font-size: 20px;
    line-height: 21px
}

.btn-lg {
    line-height: 1.35;
    padding: 9px 18px;
    font-size: 14px
}

.btn-lg.icon-only {
    width: 40px;
    height: 38px;
    padding: 6px !important
}

.btn-lg.icon-only>.fa,
.btn-lg.icon-only>.typcn,
.btn-lg.icon-only>.glyphicon,
.btn-lg.icon-only>[class*="wi-"] {
    font-size: 24px;
    line-height: 26px
}

.btn-lg>.fa,
.btn-lg>.typcn,
.btn-lg>.glyphicon,
.btn-lg>[class*="wi-"] {
    font-size: 16px;
    margin-right: 6px
}

.btn-lg>.fa.right,
.btn-lg>.typcn.right,
.btn-lg>.glyphicon.right,
.btn-lg>[class*="wi-"].right {
    margin-right: 0;
    margin-left: 6px
}

.btn,
.btn-default,
.btn:focus,
.btn-default:focus {
    color: #444;
    background-color: #fff;
    border-color: #ccc
}

.btn:hover,
.btn-default:hover {
    color: #444
}

.btn.shiny,
.btn-default.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: -moz-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: -o-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: linear-gradient(to bottom, #fff 0, #ededed 100%)
}

.btn.dropdown-toggle:not(:first-child),
.btn-default.dropdown-toggle:not(:first-child) {
    border-left-width: 0 !important;
    margin-left: -1px
}

.btn-default:hover,
.open .btn-default.dropdown-toggle {
    border-color: #b8b8b8;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1)
}

.open .btn-default.dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-primary,
.btn-primary:focus {
    background-color: #427fed !important;
    border-color: #427fed;
    color: #fff
}

.btn-primary:hover {
    color: #fff
}

.btn-primary.dropdown-toggle {
    border-left-color: #6a99ee !important
}

.btn-primary.active {
    background-color: #2c56b1 !important;
    border-color: #21448d
}

.btn-primary.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMwMDk1ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNWVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(center top, #0095ff 5%, #005eff 100%);
    background-image: -moz-linear-gradient(center top, #0095ff 5%, #005eff 100%);
    background-image: -o-linear-gradient(center top, #0095ff 5%, #005eff 100%);
    background-image: linear-gradient(center to bottom, #0095ff 5%, #005eff 100%)
}

.btn-primary:hover,
.open .btn-primary.dropdown-toggle {
    background-color: #4285f4 !important;
    border-color: #427fed
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #427fed !important;
    border-color: #427fed;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-info,
.btn-info:focus {
    background-color: #57b5e3 !important;
    border-color: #57b5e3;
    color: #fff
}

.btn-info:hover {
    color: #fff
}

.btn-info.dropdown-toggle {
    border-left-color: #8bcdee !important
}

.btn-info.active {
    background-color: #5fa6d3 !important;
    border-color: #4396cb
}

.btn-info.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMGFkZWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzhhNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#00adee), to(#0078a5))
}

.btn-info:hover,
.open .btn-info.dropdown-toggle {
    background-color: #6abce2 !important;
    border-color: #6abce2
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #57b5e3 !important;
    border-color: #57b5e3;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-success,
.btn-success:focus {
    background-color: #53a93f !important;
    border-color: #53a93f !important;
    color: #fff
}

.btn-success:hover {
    color: #fff
}

.btn-success.dropdown-toggle {
    border-left-color: #a0d468 !important
}

.btn-success.active {
    background-color: #3e802f !important;
    border-color: #2f6124
}

.btn-success.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZGI3MmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRlN2QwZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#7db72f), to(#4e7d0e))
}

.btn-success:hover,
.open .btn-success.dropdown-toggle {
    background-color: #65b951 !important;
    border-color: #65b951
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #53a93f !important;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-warning,
.btn-warning:focus {
    background-color: #f4b400 !important;
    border-color: #f4b400;
    color: #fff
}

.btn-warning:hover {
    color: #fff
}

.btn-warning.dropdown-toggle {
    border-left-color: #ffce55 !important
}

.btn-warning.active {
    background-color: #f2a73e !important;
    border-color: #f0981c
}

.btn-warning.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYWE1MWEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0N2EyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#faa51a), to(#f47a20))
}

.btn-warning:hover,
.open .btn-warning.dropdown-toggle {
    background-color: #f6c12a !important;
    border-color: #f6c12a
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f4b400 !important;
    border-color: #f4b400;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-danger,
.btn-danger:focus {
    background-color: #d73d32 !important;
    border-color: #d73d32;
    color: #fff
}

.btn-danger:hover {
    color: #fff
}

.btn-danger.dropdown-toggle {
    border-left-color: #e46f61 !important
}

.btn-danger.active {
    background-color: #be3e2e !important;
    border-color: #9a3323
}

.btn-danger.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZDFjMjQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhMTMxNyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#ed1c24), to(#aa1317))
}

.btn-danger:hover,
.open .btn-danger.dropdown-toggle {
    background-color: #e74b37 !important;
    border-color: #e74b37
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d73d32 !important;
    border-color: #d73d32;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-blue,
.btn-blue:focus {
    background-color: #5db2ff !important;
    border-color: #5db2ff;
    color: #fff
}

.btn-blue:hover {
    color: #fff
}

.btn-blue.dropdown-toggle {
    border-left-color: #81c1fb !important
}

.btn-blue.active {
    background-color: #449cec !important;
    border-color: #3d90db
}

.btn-blue.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3MGJhZmQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ0OWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#70bafd), to(#449cec));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#70bafd), to(#449cec));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#70bafd), to(#449cec));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#70bafd), to(#449cec))
}

.btn-blue:hover,
.open .btn-blue.dropdown-toggle {
    background-color: #70bafd !important;
    border-color: #70bafd;
    color: #fff
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    background-color: #5db2ff !important;
    border-color: #5db2ff;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-sky,
.btn-sky:focus {
    background-color: #11a9cc !important;
    border-color: #11a9cc;
    color: #fff
}

.btn-sky:hover {
    color: #fff
}

.btn-sky.dropdown-toggle {
    border-left-color: #81c1fb !important
}

.btn-sky.active {
    background-color: #2095b0 !important;
    border-color: #2f97af
}

.btn-sky.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyOGIzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwOTViMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#28b3d3), to(#2095b0));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#28b3d3), to(#2095b0));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#28b3d3), to(#2095b0));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#28b3d3), to(#2095b0))
}

.btn-sky:hover,
.open .btn-sky.dropdown-toggle {
    background-color: #28b3d3 !important;
    border-color: #28b3d3;
    color: #fff
}

.btn-sky.disabled,
.btn-sky[disabled],
fieldset[disabled] .btn-sky,
.btn-sky.disabled:hover,
.btn-sky[disabled]:hover,
fieldset[disabled] .btn-sky:hover,
.btn-sky.disabled:focus,
.btn-sky[disabled]:focus,
fieldset[disabled] .btn-sky:focus,
.btn-sky.disabled:active,
.btn-sky[disabled]:active,
fieldset[disabled] .btn-sky:active,
.btn-sky.disabled.active,
.btn-sky[disabled].active,
fieldset[disabled] .btn-sky.active {
    background-color: #11a9cc !important;
    border-color: #11a9cc;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-azure,
.btn-azure:focus {
    background-color: #2dc3e8 !important;
    border-color: #2dc3e8;
    color: #fff
}

.btn-azure:hover {
    color: #fff
}

.btn-azure.dropdown-toggle {
    border-left-color: #3ecdf1 !important
}

.btn-azure.active {
    background-color: #2badce !important;
    border-color: #2badce
}

.btn-azure.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZWNkZjEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiYWRjZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#3ecdf1), to(#2badce));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#3ecdf1), to(#2badce));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#3ecdf1), to(#2badce));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#3ecdf1), to(#2badce))
}

.btn-azure:hover,
.open .btn-azure.dropdown-toggle {
    background-color: #3ecdf1 !important;
    border-color: #3ecdf1;
    color: #fff
}

.btn-azure.disabled,
.btn-azure[disabled],
fieldset[disabled] .btn-azure,
.btn-azure.disabled:hover,
.btn-azure[disabled]:hover,
fieldset[disabled] .btn-azure:hover,
.btn-azure.disabled:focus,
.btn-azure[disabled]:focus,
fieldset[disabled] .btn-azure:focus,
.btn-azure.disabled:active,
.btn-azure[disabled]:active,
fieldset[disabled] .btn-azure:active,
.btn-azure.disabled.active,
.btn-azure[disabled].active,
fieldset[disabled] .btn-azure.active {
    background-color: #2dc3e8 !important;
    border-color: #2dc3e8;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-palegreen,
.btn-palegreen:focus {
    background-color: #a0d468 !important;
    border-color: #a0d468;
    color: #fff
}

.btn-palegreen:hover {
    color: #fff
}

.btn-palegreen.dropdown-toggle {
    border-left-color: #a6d791 !important
}

.btn-palegreen.active {
    background-color: #74aa5d !important;
    border-color: #699755
}

.btn-palegreen.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5Y2Q1ODQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc0YWE1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#9cd584), to(#74aa5d));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#9cd584), to(#74aa5d));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#9cd584), to(#74aa5d));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#9cd584), to(#74aa5d))
}

.btn-palegreen:hover,
.open .btn-palegreen.dropdown-toggle {
    background-color: #9cd584 !important;
    border-color: #9cd584;
    color: #fff
}

.btn-palegreen.disabled,
.btn-palegreen[disabled],
fieldset[disabled] .btn-palegreen,
.btn-palegreen.disabled:hover,
.btn-palegreen[disabled]:hover,
fieldset[disabled] .btn-palegreen:hover,
.btn-palegreen.disabled:focus,
.btn-palegreen[disabled]:focus,
fieldset[disabled] .btn-palegreen:focus,
.btn-palegreen.disabled:active,
.btn-palegreen[disabled]:active,
fieldset[disabled] .btn-palegreen:active,
.btn-palegreen.disabled.active,
.btn-palegreen[disabled].active,
fieldset[disabled] .btn-palegreen.active {
    background-color: #a0d468 !important;
    border-color: #a0d468;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-yellow,
.btn-yellow:focus {
    background-color: #ffce55 !important;
    border-color: #ffce55;
    color: #fff
}

.btn-yellow:hover {
    color: #fff
}

.btn-yellow.dropdown-toggle {
    border-left-color: #f6d52e !important
}

.btn-yellow.active {
    background-color: #fbc220 !important;
    border-color: #f3ba17;
    color: #fff !important
}

.btn-yellow.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZGQzNWEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiYzIyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#fdd35a), to(#fbc220));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#fdd35a), to(#fbc220));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#fdd35a), to(#fbc220));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#fdd35a), to(#fbc220))
}

.btn-yellow:hover,
.open .btn-yellow.dropdown-toggle {
    background-color: #fdd35a !important;
    border-color: #fdd35a;
    color: #fff
}

.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
    background-color: #ffce55 !important;
    border-color: #ffce55;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-darkorange,
.btn-darkorange:focus {
    background-color: #ed4e2a !important;
    border-color: #ed4e2a;
    color: #fff
}

.btn-darkorange:hover {
    color: #fff
}

.btn-darkorange.dropdown-toggle {
    border-left-color: #f07154 !important
}

.btn-darkorange.active {
    background-color: #da411f !important;
    border-color: #cc3918
}

.btn-darkorange.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZjY5NGIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhNDExZiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#ef694b), to(#da411f));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#ef694b), to(#da411f));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#ef694b), to(#da411f));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#ef694b), to(#da411f))
}

.btn-darkorange:hover,
.open .btn-darkorange.dropdown-toggle {
    background-color: #ef694b !important;
    border-color: #ef694b;
    color: #fff
}

.btn-darkorange.disabled,
.btn-darkorange[disabled],
fieldset[disabled] .btn-darkorange,
.btn-darkorange.disabled:hover,
.btn-darkorange[disabled]:hover,
fieldset[disabled] .btn-darkorange:hover,
.btn-darkorange.disabled:focus,
.btn-darkorange[disabled]:focus,
fieldset[disabled] .btn-darkorange:focus,
.btn-darkorange.disabled:active,
.btn-darkorange[disabled]:active,
fieldset[disabled] .btn-darkorange:active,
.btn-darkorange.disabled.active,
.btn-darkorange[disabled].active,
fieldset[disabled] .btn-darkorange.active {
    background-color: #ed4e2a !important;
    border-color: #ed4e2a;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-magenta,
.btn-magenta:focus {
    background-color: #bc5679 !important;
    border-color: #bc5679;
    color: #fff
}

.btn-magenta:hover {
    color: #fff
}

.btn-magenta.dropdown-toggle {
    border-left-color: #c96d8c !important
}

.btn-magenta.active {
    background-color: #a5325a !important;
    border-color: #9f3156
}

.btn-magenta.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjNDYyODMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E1MzI1YSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#c46283), to(#a5325a));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#c46283), to(#a5325a));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#c46283), to(#a5325a));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#c46283), to(#a5325a))
}

.btn-magenta:hover,
.open .btn-magenta.dropdown-toggle {
    background-color: #c46283 !important;
    border-color: #c46283;
    color: #fff
}

.btn-magenta.disabled,
.btn-magenta[disabled],
fieldset[disabled] .btn-magenta,
.btn-magenta.disabled:hover,
.btn-magenta[disabled]:hover,
fieldset[disabled] .btn-magenta:hover,
.btn-magenta.disabled:focus,
.btn-magenta[disabled]:focus,
fieldset[disabled] .btn-magenta:focus,
.btn-magenta.disabled:active,
.btn-magenta[disabled]:active,
fieldset[disabled] .btn-magenta:active,
.btn-magenta.disabled.active,
.btn-magenta[disabled].active,
fieldset[disabled] .btn-magenta.active {
    background-color: #bc5679 !important;
    border-color: #bc5679;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-purple,
.btn-purple:focus {
    background-color: #7e3794 !important;
    border-color: #7e3794;
    color: #fff
}

.btn-purple:hover {
    color: #fff
}

.btn-purple.dropdown-toggle {
    border-left-color: #9852ae !important
}

.btn-purple.active {
    background-color: #69257e !important;
    border-color: #601e74
}

.btn-purple.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4YzQ0YTIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5MjU3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#8c44a2), to(#69257e));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#8c44a2), to(#69257e));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#8c44a2), to(#69257e));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#8c44a2), to(#69257e))
}

.btn-purple:hover,
.open .btn-purple.dropdown-toggle {
    background-color: #8c44a2 !important;
    border-color: #8c44a2;
    color: #fff
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
    background-color: #7e3794 !important;
    border-color: #7e3794;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn-maroon,
.btn-maroon:focus {
    background-color: #981b48 !important;
    border-color: #981b48;
    color: #fff
}

.btn-maroon:hover {
    color: #fff
}

.btn-maroon.dropdown-toggle {
    border-left-color: #b55274 !important
}

.btn-maroon.active {
    background-color: #7c1138 !important;
    border-color: #9f3156
}

.btn-maroon.shiny {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhODI4NTYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg2MTIzYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#a82856), to(#86123c));
    background-image: -moz-linear-gradient(linear, left top, left bottom, from(#a82856), to(#86123c));
    background-image: -o-linear-gradient(linear, left top, left bottom, from(#a82856), to(#86123c));
    background-image: linear-gradient(linear, left to bottom, left bottom, from(#a82856), to(#86123c))
}

.btn-maroon:hover,
.open .btn-maroon.dropdown-toggle {
    background-color: #a82856 !important;
    border-color: #a82856;
    color: #fff
}

.btn-maroon.disabled,
.btn-maroon[disabled],
fieldset[disabled] .btn-maroon,
.btn-maroon.disabled:hover,
.btn-maroon[disabled]:hover,
fieldset[disabled] .btn-maroon:hover,
.btn-maroon.disabled:focus,
.btn-maroon[disabled]:focus,
fieldset[disabled] .btn-maroon:focus,
.btn-maroon.disabled:active,
.btn-maroon[disabled]:active,
fieldset[disabled] .btn-maroon:active,
.btn-maroon.disabled.active,
.btn-maroon[disabled].active,
fieldset[disabled] .btn-maroon.active {
    background-color: #981b48 !important;
    border-color: #981b48;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5
}

.btn.disabled.active,
.btn[disabled].active,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
    outline: 0
}

.btn.disabled:active,
.btn[disabled]:active {
    top: 0;
    left: 0
}

.open .btn.dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-group>.btn:not(:first-child):not(.dropdown-toggle) {
    border-left: 0
}

.btn-group>.btn,
.btn-group>.btn+.btn {
    margin: 0
}

.btn-group>.btn:first-child {
    margin: 0;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box
}

.btn-group>.btn:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 2px 2px 0;
    -moz-background-clip: padding;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box
}

.btn-group>.btn>.caret {
    margin-left: 1px;
    border-width: 5px;
    border-top-color: #eee;
    margin-top: 1px
}

.btn-group>.btn.btn-default>.caret {
    border-top-color: #333
}

.btn-group>.btn+.btn.dropdown-toggle {
    padding-left: 7px;
    padding-right: 7px
}

.btn-group>.btn+.btn-lg.dropdown-toggle {
    padding-right: 10px;
    padding-left: 10px
}

.btn-group>.btn+.btn-sm.dropdown-toggle {
    padding-right: 6px;
    padding-left: 6px
}

.btn-group>.btn+.btn-sm.dropdown-toggle .fa {
    line-height: 13px
}

.btn-group>.btn+.btn-xs.dropdown-toggle {
    padding-right: 5px;
    padding-left: 5px
}

.btn-group>.btn+.btn-xs.dropdown-toggle .fa {
    line-height: 13px
}

.btn-group .dropdown-toggle {
    -webkit-border-radius: 0 2px 2px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 2px 2px 0;
    -moz-background-clip: padding;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box
}

.btn-group .dropdown-toggle .fa {
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    line-height: 14px;
    margin-right: 0;
    margin-left: 0
}

.btn-group>.btn,
.btn-group+.btn {
    margin: 0
}

.btn-group>.btn.active:after,
.btn-group+.btn.active:after {
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-bottom-width: 1px
}

.btn-group-vertical>.btn:not(:last-child) {
    border-bottom: 0
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-right-radius: 2px
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-bottom-left-radius: 2px
}

.btn-group-vertical>.btn,
.btn-group-vertical>.btn+.btn {
    margin: 0
}

.btn-group-vertical>.btn:first-child {
    margin-right: 0
}
