.img-thumbnails>li,
.img-thumbnails>li>:first-child {
    display: block;
    position: relative
}

.img-thumbnails {
    list-style: none;
    margin: 0;
    padding: 0
}

.img-thumbnails>li {
    float: left;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #333
}

.img-thumbnails>li>:first-child:focus {
    outline: 0
}

.img-thumbnails>li .tags {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: visible;
    direction: rtl;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    border-width: 0;
    vertical-align: inherit
}

.img-thumbnails>li .tags>.label-holder {
    opacity: .92;
    filter: alpha(opacity=92);
    display: table;
    margin: 1px 0 0;
    direction: ltr;
    text-align: left
}

.img-thumbnails>li>.tools,
.img-thumbnails>li>:first-child>.text {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, .55)
}

.img-thumbnails>li .tags>.label-holder:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.img-thumbnails>li>.tools {
    top: 0;
    bottom: 0;
    left: -30px;
    width: 24px;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.img-thumbnails>li>.tools.tools-right {
    left: auto;
    right: -30px
}

.img-thumbnails>li>.tools.tools-bottom {
    width: auto;
    height: 28px;
    left: 0;
    right: 0;
    top: auto;
    bottom: -30px
}

.img-thumbnails>li>.tools.tools-top {
    width: auto;
    height: 28px;
    left: 0;
    right: 0;
    top: -30px;
    bottom: auto
}

.img-thumbnails>li:hover>.tools {
    left: 0;
    right: 0
}

.img-thumbnails>li:hover>.tools.tools-bottom {
    top: auto;
    bottom: 0
}

.img-thumbnails>li:hover>.tools.tools-top {
    bottom: auto;
    top: 0
}

.img-thumbnails>li:hover>.tools.tools-right {
    left: auto;
    right: 0
}

.img-thumbnails>li>.in.tools {
    left: 0;
    right: 0
}

.img-thumbnails>li>.in.tools.tools-bottom {
    top: auto;
    bottom: 0
}

.img-thumbnails>li>.in.tools.tools-top {
    bottom: auto;
    top: 0
}

.img-thumbnails>li>.in.tools.tools-right {
    left: auto;
    right: 0
}

.img-thumbnails>li>.tools>a,
.img-thumbnails>li>:first-child .inner a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4px
}

.img-thumbnails>li>.tools>a:hover,
.img-thumbnails>li>:first-child .inner a:hover {
    text-decoration: none;
    color: #C9E2EA
}

.img-thumbnails>li .tools.tools-bottom>a,
.img-thumbnails>li .tools.tools-top>a {
    display: inline-block
}

.img-thumbnails>li>:first-child>.text {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.dialogs,
.itemdiv {
    position: relative
}

.img-thumbnails>li>:first-child>.text:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0
}

.img-thumbnails>li>:first-child>.text>.inner {
    padding: 4px 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    max-width: 90%
}

.img-thumbnails>li:hover>:first-child>.text {
    opacity: 1;
    filter: alpha(opacity=100)
}
.img-thumbnails .img{
  height: 205px;
  width: 205px;
  position: relative;
}
.img-thumbnails img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.img-thumbnails .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    text-align: center;
}
.img-thumbnails .overlay > span{
  display: inline-block;
  vertical-align: middle;
  line-height: 200px;
  font-size: 50px;
  color: #ccc;
}
.img-thumbnails li {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 6px;
}
@media only screen and (max-width:480px) {
    .img-thumbnails {
        text-align: center
    }
    .img-thumbnails>li {
        float: none;
        display: inline-block
    }
}
.single-image{
 margin-top: 5px;
 margin-bottom: 5px;
 width: 100%;
 height: 400px;
}
.single-image  img{
  height: 100%;
  /*width: 100%;*/
  object-fit: cover;
  object-position: 50% 50%;
}
