.widget {
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 0 30px 0;
}
.widget-header {
  position: relative;
  min-height: 35px;
  background: #fff;
  color: #555;
  padding-left: 12px;
  text-align: right;
}

.widget-header>.widget-caption {
  line-height: 50px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
  font-weight: 400 !important;
  font-size: 13px;
}

.widget-body {
    background-color: #fbfbfb;
    padding: 12px;
}
.col-lg-inside{
  padding: 20px;
}
.col-inside-default{
  background-color: #ffffff;
}

.user-profile{
  border-radius: 0px;
  margin-bottom: 0px;
}

.page-title{
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 15px;
  line-height: 1.2;
  border-bottom: 1px solid #cecece;
}
.main-content .white-background{
  background-color: #FFFFFF;
}
