/*
  =require twitter-bootstrap-static/bootstrap

Static version of css will use Glyphicons sprites by default
  =require twitter-bootstrap-static/sprites
  =require ct-navbar
  = require font-awesome

*/


/*body{margin-top:20px;}*/
.login-background{
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  display: block;

  background-image: image-url("spark-welding");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px) grayscale(80%);
  // filter: ;
  opacity: 5.0;
}
.login-container {
  position: relative;
  margin: 10% auto;
  max-width: 340px;
}

.login-container .loginbox {
  position: relative;
  width: 340px !important;
  height: auto !important;
  padding: 0 0 20px 0;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  box-shadow: 0 0 14px rgba(0, 0, 0, .1);
}

.bg-white {
  background-color: #fff !important;
}

.login-container .loginbox .loginbox-title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  font-size: 20px;
  font-weight: normal;
  color: #444;
}

.login-container .loginbox .loginbox-social {
  padding: 0 10px 10px;
  text-align: center;
}

.login-container .loginbox .loginbox-social .social-title {
  font-size: 14px;
  font-weight: 500;
  color: #a9a9a9;
  margin-top: 10px;
}

.login-container .loginbox .loginbox-social .social-buttons {
  height: 80px;
  padding: 15px 35px;
  text-align: center;
}

.login-container .loginbox .loginbox-social .social-buttons .button-facebook {
  float: left;
  border: 2px solid #3b5998;
  color: #3b5998;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background-color: #fff;
}

.login-container .loginbox .loginbox-social .social-buttons .button-twitter {
  float: left;
  border: 2px solid #29c1f6;
  color: #29c1f6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background-color: #fff;
}

.login-container .loginbox .loginbox-social .social-buttons .button-google {
  float: left;
  border: 2px solid #ef4f1d;
  color: #ef4f1d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background-color: #fff;
}

.login-container .loginbox .loginbox-social .social-buttons .button-facebook i {
  font-size: 26px;
  line-height: 50px;
}

.login-container .loginbox .loginbox-social .social-buttons .button-twitter i {
  font-size: 26px;
  line-height: 50px;
}

.login-container .loginbox .loginbox-social .social-buttons .button-google i {
  font-size: 26px;
  line-height: 50px;
}

.login-container .loginbox .loginbox-or {
  position: relative;
  text-align: center;
  height: 20px;
}

.login-container .loginbox .loginbox-or .or-line {
  position: absolute;
  height: 1px;
  top: 10px;
  left: 40px;
  right: 40px;
  background-color: #ccc;
}

.login-container .loginbox .loginbox-or .or {
  position: absolute;
  top: 0;
  -lh-property: 0;
  left: -webkit-calc(50% - 25px);
  left: -moz-calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 20px;
  background-color: #fff;
  color: #999;
  margin: 0 auto;
}

.login-container .loginbox .loginbox-textbox {
  padding: 10px 40px;
}

.login-container .loginbox .loginbox-textbox .form-control {
  -webkit-border-radius: 3px !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 3px !important;
  -moz-background-clip: padding !important;
  border-radius: 3px !important;
  background-clip: padding-box !important;
}

.login-container .loginbox .loginbox-forgot {
  padding-left: 40px;
}

.login-container .loginbox .loginbox-forgot a {
  font-size: 11px;
  color: #666;
}

.login-container .loginbox .loginbox-submit {
  padding: 10px 40px;
}

.login-container .loginbox .loginbox-signup {
  text-align: center;
  padding-top: 10px;
}

.login-container .loginbox .loginbox-signup a {
  font-size: 13px;
  color: #666;
}

.login-container .logobox {
  width: 340px !important;
  height: 50px !important;
  padding: 5px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  background-color: #fff;
  text-align: left;
}


/*

.icon-circle .fa{
    font-size           : 25px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 80px;
    width               : 80px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 80px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{

    background-color        : #e84700;
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2);
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2);
    -o-transform            : scale(1.2,1.2);
    transform               : scale(1.2,1.2);
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 40px;
}*/

/*@media (min-width:320px) and (max-width:768px) {*/
  .icon-circle .fa {
    font-size: 15px;
    color: #e84700;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e84700;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.20s, background-color ease-in-out 0.05s;
  }
  .icon-circle .fa:hover {
    background-color: #e84700;
    color: #fff;
    border: 1px solid #e84711;
    -moz-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 5px #ffffff;
    box-shadow: inset 0px 0px 0px 5px #ffffff;
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  .icon-circle i:before {
    margin-left: 0px;
    font-size: 20px;
  }
/*}*/

.ifacebook .fa {
  color: #3B5998;
  border: 2px solid #3B5998;
}

.ifacebook .fa:hover {
  background-color: #3B5998;
  color: #fff;
  border: 1px solid #3B5998;
}

.itwittter .fa {
  color: #33ccff;
  border: 2px solid #33ccff;
}

.itwittter .fa:hover {
  background-color: #33ccff;
  color: #fff;
  border: 1px solid #33ccff;
}

.igoogle .fa {
  color: #BD3518;
  border: 2px solid #BD3518;
}

.igoogle .fa:hover {
  background-color: #BD3518;
  color: #fff;
  border: 1px solid #BD3518;
}

.iLinkedin .fa {
  color: #007bb7;
  border: 2px solid #007bb7;
}

.iLinkedin .fa:hover {
  background-color: #007bb7;
  color: #fff;
  border: 1px solid #007bb7;
}
