<!-- <script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
          <td><span class="preview"></span></td>
          <td width="45%">
              <img src="{%=file.path%}" class="img-responsive"></img>
              <strong class="error text-danger"></strong>

              {% if (!i && !o.options.autoUpload) { %}
                  <button class="btn btn-success start" disabled>
                      <i class="glyphicon glyphicon-upload"></i>
                      Start / resume
                  </button>
              {% } %}
              {% if (!i) { %}
                  <button class="btn btn-danger cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      Cancel upload
                  </button>
              {% } %}
          </td>
      </tr>
  {% } %}
</script> -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="overlay-wrapper col-xs-4 col-sm-2 template-upload fade">
      <div class="imageuploadify-container">
        <span class="preview"></span>
        <span class="overlay">
          {% if (!i && !o.options.autoUpload) { %}
              <button class="btn btn-success start" disabled>
                  <i class="glyphicon glyphicon-upload"></i>
                  Start / resume
              </button>
          {% } %}
          {% if (!i) { %}
              <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
              </div>
          {% } %}
        </span>
      </div>
    </div>
  {% } %}
</script>
