<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="overlay-wrapper col-xs-4 col-sm-2 template-download">
      <div class="imageuploadify-container">
        <input type="hidden" name="post[image_ids][]" value="{%= file.id %}">
        <button type='button' onclick="RemoveImgPreview(this)" class='btn btn-danger delete btn-delete glyphicon glyphicon-remove'
        data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
        </button>
        <div class="imageuploadify-details preview">
          <img src="{%=file.url%}" class="img-download" alt="" width="100">
        </div>
      </div>
    </div>
  {% } %}
</script>

