<h1>Listing Images</h1>
<%= link_to 'New Image', new_image_path %>
<section class="content-item" id="gallery">
  <div class="container">
    <div class="content-headline">
      <h2>Image gallery</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    </div>

    <!-- <div class="row"> -->
        <!-- <% @images.each do |image| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="#" class="thumbnail">
              <%= image_tag "http://americanconstruction.net/wp-content/uploads/2015/10/upload-empty.png", class: "img-responsive lazy", "data-src": image.image.url%>
            </a>
            <%#= link_to '<i class="fa fa-trash"></i>'.html_safe, image, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %> -->
        <div id="pictures" class="tab-pane">
          <ul class="img-thumbnails">
            <% @images.each do |image| %>
            <li>
              <a href="#" data-rel="colorbox">
                <div class="img">
                  <%= image_tag image.image.url%>
                </div>
                <div class="text">
                  <!-- <div class="inner">Sample Caption on Hover</div> -->
                </div>
              </a>

              <div class="tools tools-bottom">
                <a href="#">
                  <i class="img-icon fa fa-link"></i>
                </a>
                <a href="#">
                  <i class="img-icon fa fa-times red"></i>
                </a>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
  </div>
</section>
