<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DemoAdminPage" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

  </head>
      
    <div class="navbar navbar-default navbar-static-top" id="print-container">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div class="logo">
            <!-- <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" width="60" height="60"> -->
            <%= image_tag asset_url("placeholder.svg"), height: "55px" %>
          </div>
        </a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="icon-button active"><%= link_to "<i class='fa fa-play'></i><p>Upload video</p>".html_safe, videos_path  %></li>
            <li class="icon-button"><%= link_to "<i class='fa fa-picture-o'></i><p>Upload Image</p>".html_safe, images_path  %></li>
            <li class="icon-button"><%= link_to "<i class='fa fa-map-marker'></i><p>Maps Location</p>".html_safe, locators_path  %></li>
            <li class="icon-button"><%= link_to "<i class='fa fa-user'></i><p>Post</p>".html_safe, posts_path  %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="icon-button">
              <a href="#">
                <i class="fa fa-commenting-o">
                  <span class="label">23</span>
                </i>
                <p>
                  Message
                </p>
              </a>
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="user-photo">
                    <img class="photo" src="http://s3.amazonaws.com/creativetim_bucket/photos/122600/thumb.jpg?1479199543" alt="Thumb">
                  </div>
                  <p style="margin-top: 2px">
                    <%= current_user.email %>
                    <span class="caret"></span>
                  </p>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to('Account'.html_safe, edit_user_registration_path) %>
                  </li>
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>

            <% else %>
              <li class="icon-button"><%= link_to "<i class='fa fa-user'></i><p>Sign In</p>".html_safe, new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="sub-navbar noPrint">
      <div class="container">
        <ul class="sub-navbar-nav">
          <li class="sub-navbar-item"><a href="#">News</a></li>
          <li class="sub-navbar-item"><%= link_to "Jobs", jobs_path %></li>
          <li class="sub-navbar-item"><a href="#">Profile</a></li>
          <li class="sub-navbar-item"><a href="#">Group</a></li>
        </ul>
      </div>
    </div>
    <div class="main-content">
        <%= bootstrap_flash %>
        <%= yield %>
      <footer>
      <div class="container">
        <p>
          <%= image_tag asset_url("placeholder.svg"), height: "20px" %>
          &copy; Company 2016
        </p>
      </div>
      </footer>
    </div>
  </body>
  <script>
    PrintHAF.init({
      domID: 'print-container',
      size: 'letter',
      marginTop: 48,
      marginBottom: 48,
      marginLeft: 48,
      marginRight: 48,
      createHeaderTemplate: function(pageNumber) {
        var header = document.createElement('div');
        header.innerHTML = 'HEADER ' + pageNumber;
        
        return header;
      },
      createFooterTemplate: function(pageNumber) {
        var footer = document.createElement('div');
        footer.innerHTML = 'FOOTER ' + pageNumber;
        
        return footer;
      }
    });
  </script>
</html>
